body {
    background-color: #FFFFF0;
    margin-left: auto;
    margin-right: auto;
    width: 95%;
    max-width: 960px;
    min-width: 640px;
}

/* Horizontal Navigation Styles */

nav.horizontalNavigation {
    display: block;
    float: left;
}

nav.horizontalNavigation {
    display: block;
    text-align: center;
}
section#leftColumn {
    background-color: #48D1CC;
    clear: left;
    float: left;
    width: 50%;
}
section#rightColumn {
    background-color: #48D1CC;
    clear: right;
    float: left;
    width: 50%;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #FA8072;
}

p {
    border: 2px solid #8B4513;
    border-style: double;
}

li {
    float: left;
}

    li a {
        display: block;
        padding: 8px;
        background-color: #FA8072;
    }

header {
    width: 94%;
    padding: 3%;
    background-color: #48D1CC;
}

    header #title {
        font-size: 50px;
        color: #fff;
    }


    section#img {
        display: block;
        width: 60%;
    }

/* Footer Styles */

footer {
    clear: left;
    background-color: #FA8072;
}

    footer > nav.verticalNavigation {
        float: left;
        width: 22%;
    }
